.idea/
!/app_root
/app_root/vendor/
/app_root/composer.lock
/app_root/app/
/app_root/composer.json
/app_root/generated/
/app_root/grunt-config.json.sample
/app_root/auth.json.sample
/app_root/.htaccess.sample
/app_root/dev/
/app_root/LICENSE_AFL.txt
/app_root/phpserver/
/app_root/nginx.conf.sample
/app_root/var/
/app_root/index.php
/app_root/php.ini.sample
/app_root/.github/
/app_root/bin/
/app_root/pub/
/app_root/.user.ini
/app_root/lib/
/app_root/.htaccess
/app_root/LICENSE.txt
/app_root/setup/
/app_root/package.json.sample
/app_root/.php_cs.dist
/app_root/Gruntfile.js.sample
/app_root/COPYING.txt
/app_root/.travis.yml
/app_root/.gitignore
/app_root/update/
/app_root/CHANGELOG.md
.docker/php/conf/auth.json