.idea/
htdocs/*
!/htdocs/.gitkeep
!/.docker/php/conf/composer.json
certs/*
/.docker-sync/
auth.json
/.docker/nginx/ssl/*
!/.docker/nginx/ssl/
/.docker/redis/conf/*
!/.docker/redis/conf/redis.conf
.env
