.idea/
/htdocs/*
/htdocs/.*
!/.docker/php/config/composer.json
certs/*
/.docker-sync/
auth.json
/.docker/nginx/ssl/*
!/.docker/nginx/ssl/
/.docker/redis/conf/*
!/.docker/redis/conf/redis.conf
.env
.env*
/.docker/mysql/db_dumps/*
!/.docker/mysql/db_dumps
