version: '3.8'

services:

  varnish:
    container_name: ${NAMESPACE}_varnish
    image: varnish:${VARNISH_VERSION}
    environment:
      - TZ=${TZ}
      - VARNISH_SIZE=1G
    tmpfs:
      - /var/lib/varnish:exec
    command: "-p default_keep=300"
    depends_on:
      - nginx
    ports:
      - "80:80"
    volumes:
      - .docker/varnish/config/default.vcl:/etc/varnish/default.vcl

  nginx:
    container_name: ${NAMESPACE}_nginx
    image: nginx:${NGINX_VERSION}-alpine
    depends_on:
      - php
    ports:
      - "8080:80"
    environment:
      SHOPURI: ${SHOPURI}
      TZ: ${TZ}
    command: '/usr/sbin/nginx -g "daemon off; error_log /dev/stderr info;"'
    networks:
      default:
        aliases:
          - ${SHOPURI}
    volumes:
      - .docker/nginx/config/nginx.conf:/etc/nginx/nginx.conf:ro
      - .docker/nginx/config/default.conf:/etc/nginx/conf.d/default.conf:ro
      - app_data:${WORKDIR_SERVER}:delegated

  php:
    #    build:
    #      context: ./.docker/php
    #      args:
    #        PHP_VERSION_SET: ${PHP_VERSION_SET}
    container_name: ${NAMESPACE}_php
    image: osioaliu/php:${PHP_VERSION_SET}-fpm-alpine
    sysctls:
      net.core.somaxconn: 65536
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      TZ: ${TZ}
      COMPOSER_CACHE_DIR: /home/www-data/.composer
    user: ${UID_GID}
    restart: on-failure
    volumes:
      - app_data:${WORKDIR_SERVER}:delegated
      - composer_cache:/home/www-data/.composer:delegated
      - ${HOME}/.ssh:/home/www-data/.ssh:delegated
      - .docker/php/config/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
      - .docker/php/config/php-ini-overrides.ini:/usr/local/etc/php/conf.d/php-ini-overrides.ini:ro
      - .docker/php/config/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf:ro

  elasticsearch:
    #    build:
    #      context: ./.docker/elasticsearch
    #      args:
    #        ELASTICSEARCH_VERSION: ${ELASTICSEARCH_VERSION}
    container_name: ${NAMESPACE}_elasticsearch
    image: osioaliu/elasticsearch:${ELASTICSEARCH_VERSION}
    environment:
      - TZ=${TZ}
      - include_type_name=true
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1024m -Xmx1024m
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - discovery.type:single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    depends_on:
      db:
        condition: service_healthy
    entrypoint: 'docker-entrypoint.sh'
    volumes:
      - elastic_data:/usr/share/elasticsearch/data

  db:
    container_name: ${NAMESPACE}_db
    image: mariadb:${MARIADB_VERSION}
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - ${MYSQL_PORT}:3306
    healthcheck:
      test: 'mysqladmin ping -h localhost -p${MYSQL_ROOT_PASSWORD}'
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - db_data:/var/lib/mysql/
      - .docker/mysql/db_dumps:/docker-entrypoint-initdb.d
      - .docker/mysql/config/my.cnf:/etc/mysql/my.cnf

  redis:
    container_name: ${NAMESPACE}_redis
    image: redis:${REDIS_VERSION}
    sysctls:
      net.core.somaxconn: '1024'
    entrypoint: redis-server
    command: [ "/etc/redis/redis.conf", "--appendonly", "yes" ]
    environment:
      TZ: ${TZ}
    healthcheck:
      test: 'redis-cli ping || exit 1'
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - redis_data:/data
      - ./.docker/redis/config/redis.conf:/etc/redis/redis.conf:ro

  rabbitmq:
    container_name: ${NAMESPACE}_rabbitmq
    image: rabbitmq:${RABBITMQ_VERSION}-alpine
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mailhog:
    container_name: ${NAMESPACE}_mailhog
    image: mailhog/mailhog:latest
    environment:
      TZ: ${TZ}
    ports:
      - ${MAILHOG_EXTERNAL_PORT}:8025

  watchtower:
    container_name: ${NAMESPACE}_watchtower
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      TZ: ${TZ}
    command: --interval 3600

  node:
#    build:
#      context: ./.docker/node
#      args:
#        NODE_VERSION: ${NODE_VERSION}
    container_name: ${NAMESPACE}_node
    image: osioaliu/node:${NODE_VERSION}-alpine
    working_dir: ${WORKDIR_SERVER_NODE}
    ports:
      - "3000:3000"
    environment:
      - TZ=${TZ}
    entrypoint: ["docker-entrypoint.sh", "tail", "-f", "/dev/null"]
    volumes:
      - node_data:${WORKDIR_SERVER_NODE}:delegated

volumes:
  rabbitmq_data:
  db_data:
  elastic_data:
  redis_data:
  app_data:
    driver_opts:
      type: none
      o: bind
      device: ${WORKDIR}
  composer_cache:
    driver_opts:
      type: none
      o: bind
      device: ${HOME}/.composer
  node_data:
    driver_opts:
      type: none
      o: bind
      device: ${WORKDIR_NODE}
