<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'crypt' => [
        'key' => '653e02fab4cefe7006e30c081b9df1c0'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '/var/run/mysqld/mysqld.sock',
                'dbname' => 'mage2',
                'username' => 'mage2',
                'password' => 'mage2',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    
    'db' => 
            [
                'table_prefix' => '',
                'connection' => 
                    [
                        'default' => [
                                        'host' => '/var/run/mysqld/mysqld.sock',
                                        'dbname' => 'mage2',
                                        'username' => 'mage2',
                                        'password' => 'mage2',
                                        'model' => 'mysql4',
                                        'engine' => 'innodb',
                                        'initStatements' => 'SET NAMES utf8;',
                                        'active' => '1'
                                    ],
                        'readonly' =>
                            [
                                'host' => '127.0.0.1',
                                'dbname' => 'database_name',
                                'username' => 'database_readonly_user',
                                'password' => 'database_readonly_password',
                                'model' => 'mysql4',
                                'engine' => 'innodb',
                                'initStatements' => 'SET NAMES utf8;',
                                'active' => '1',
                            ],
                    ],
            ],
        'resource' =>
            [
                'default_setup' => ['connection' => 'default'],
                'readonly' => ['connection' => 'readonly']
            ],
    
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1,
        'compiled_config' => 1
    ],
    'install' => [
        'date' => 'Sun, 30 Dec 2018 23:27:12 +0000'
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '/var/redis/cache/redis.sock',
                    'port' => 0,
                    'persistent' => '',
                    'database' => '0',
                    'force_standalone' => '0',
                    'connect_retries' => '1',
                    'read_timeout' => '10',
                    'automatic_cleaning_factor' => '0',
                    'compress_data' => '1',
                    'compress_tags' => '1',
                    'compress_threshold' => '20480',
                    'compression_lib' => 'gzip'
                ]
            ],
            'page_cache' => [
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => '/var/redis/cache/redis.sock',
                    'port' => 0,
                    'persistent' => '',
                    'database' => '1',
                    'force_standalone' => '0',
                    'connect_retries' => '1',
                    'read_timeout' => '10',
                    'automatic_cleaning_factor' => '0',
                    'compress_data' => '0',
                    'compress_tags' => '1',
                    'compress_threshold' => '20480',
                    'compression_lib' => 'gzip'
                ]
            ]
        ]
    ],
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => '/var/redis/session/redis.sock',
            'port' => 0,
            'password' => '',
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => '0',
            'compression_threshold' => '2048',
            'compression_library' => 'gzip',
            'log_level' => '3',
            'max_concurrency' => '6',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '0',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000'
        ]
    ]
];