[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
user=mysql

ft_min_word_len = 3

innodb_buffer_pool_size = 512M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 0
innodb_log_buffer_size = 64M
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0
innodb_file_per_table=1
innodb_strict_mode = off

max_allowed_packet=64M

# MyISAM
key_buffer_size = 64M

# Logging
log_error = /var/lib/mysql/mysql-error.log
slow_query_log = 0
slow_query_log_file = /var/lib/mysql/mysql-slow.log

# OTHER
max_heap_table_size = 32M
query_cache_type = 0
open_files_limit = 32000
table_open_cache=64
max_connections=10000
innodb_use_native_aio = ON
explicit_defaults_for_timestamp = 1

# bind-address = 127.0.0.1

performance_schema = ON

innodb_thread_concurrency = 18
innodb_flush_log_at_trx_commit = 2
thread_cache_size = 32
query_cache_size = 64M
query_cache_limit = 4M
join_buffer_size = 8M
tmp_table_size = 256M
innodb_autoextend_increment=512
max_allowed_packet = 16M
max_heap_table_size = 256M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 1G
myisam_repair_threads = 1