*/1 * * * * /usr/local/bin/php __working_dir/bin/magento cron:run | grep -v "Ran jobs by schedule" >> __working_dir/var/log/magento.cron.log
*/1 * * * * /usr/local/bin/php __working_dir/update/cron.php >> __working_dir/var/log/update.cron.log
*/1 * * * * /usr/local/bin/php __working_dir/bin/magento setup:cron:run >> __working_dir/var/log/setup.cron.log