{
    "http-basic": {
        "repo.magento.com": {
         "username": "<public-key>",
         "password": "<private-key>"
        }
    },
    "github-oauth": {
        "github.com": "your personal access token from github"
    }
}