<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'crypt' => [
        'key' => '4e00261fef8b2cdc139b4087b1e53591'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'mysql',
                'dbname' => 'mage2',
                'username' => 'mage2',
                'password' => 'mage2',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'default',
    'session' => [
        'save' => 'files'
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'translate' => 1,
        'config_webservice' => 1,
        'vertex' => 1
    ],
    'install' => [
        'date' => 'Wed, 22 May 2019 23:10:22 +0000'
    ],
    'smtp' => [
        'host' => 'mailhog',
        'auth' => 'login',
        'ssl' => '',
        'port' => '1025',
        'username' => 'mail-user',
        'password' => 'P4ssW0rD'
    ]
];
