/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/.idea
/.gitattributes
/node_modules
/.grunt
/.php_cs
/.php_cs.dist
/.php_cs.cache
.DS_Store

/bin/magento
/bin/.htaccess
/lib
/phpserver
/setup
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/app/.htaccess
/app/config_sandbox
/app/autoload.php
/app/bootstrap.php
/app/functions.php
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/di.xml
/app/etc/vendor_path.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings

/pub/index.php
/pub/cron.php
/pub/get.php
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/opt
/pub/static.php
/pub/static/*
!/pub/static/.htaccess
/pub/errors

/var/*
!/var/.htaccess

/vendor/*
!/vendor/.htaccess
/vendor/

/generated/*
!/generated/.htaccess

/dev/*
!/dev/tools
/dev/tools/*
!/dev/tools/grunt
/dev/tools/grunt/configs/*
!/dev/tools/grunt/configs/themes.js
/grunt-config.json.sample

/.travis.yml.sample
/.user.ini
/.htaccess
/.htaccess.sample

/CHANGELOG.md
/SECURITY.md
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/deploy.log
